In [ ]:
import pandas as pd
import os
import random
import math

In [ ]:
import natsort
import linecache

In [ ]:
data = pd.read_csv("raw_cleaned.csv")

In [ ]:
data

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HC,AC,HF,AF,HY,AY,HR,AR,Date
0,2000-01,2000-08-19T00:00:00Z,Charlton,Man City,4,0,H,2.0,0.0,H,...,4.0,6.0,6.0,13.0,12.0,1.0,2.0,0.0,0.0,2000-08-19
1,2000-01,2000-08-19T00:00:00Z,Chelsea,West Ham,4,2,H,1.0,0.0,H,...,5.0,7.0,7.0,19.0,14.0,1.0,2.0,0.0,0.0,2000-08-19
2,2000-01,2000-08-19T00:00:00Z,Coventry,Middlesbrough,1,3,A,1.0,1.0,D,...,9.0,8.0,4.0,15.0,21.0,5.0,3.0,1.0,0.0,2000-08-19
3,2000-01,2000-08-19T00:00:00Z,Derby,Southampton,2,2,D,1.0,2.0,A,...,6.0,5.0,8.0,11.0,13.0,1.0,1.0,0.0,0.0,2000-08-19
4,2000-01,2000-08-19T00:00:00Z,Leeds,Everton,2,0,H,2.0,0.0,H,...,6.0,6.0,4.0,21.0,20.0,1.0,3.0,0.0,0.0,2000-08-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8284,2021-22,2022-04-09T17:30:00Z,Aston Villa,Tottenham,0,4,A,0.0,1.0,A,...,5.0,9.0,3.0,12.0,14.0,2.0,3.0,0.0,0.0,2022-04-09
8285,2021-22,2022-04-10T14:00:00Z,Brentford,West Ham,2,0,H,0.0,0.0,D,...,1.0,4.0,6.0,2.0,6.0,0.0,1.0,0.0,0.0,2022-04-10
8286,2021-22,2022-04-10T14:00:00Z,Leicester,Crystal Palace,2,1,H,2.0,0.0,H,...,3.0,3.0,4.0,11.0,12.0,1.0,1.0,0.0,0.0,2022-04-10
8287,2021-22,2022-04-10T14:00:00Z,Norwich,Burnley,2,0,H,1.0,0.0,H,...,4.0,6.0,7.0,12.0,10.0,1.0,1.0,0.0,0.0,2022-04-10
8288,2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,D,2.0,1.0,H,...,4.0,4.0,1.0,9.0,11.0,1.0,4.0,0.0,0.0,2022-04-10

In [ ]:
data["HTHG"] = data["HTHG"].astype(int)
data["HTAG"] = data["HTAG"].astype(int)
data["FTHG"] = data["FTHG"].astype(int)
data["FTAG"] = data["FTAG"].astype(int)

for i in range(len(data)):
    data.loc[i,"realdate"] = str(data.loc[i,"DateTime"]).split("T")[0]

In [ ]:
os.listdir()

['.config',
 'raw_cleaned.csv',
 'templates',
 'templates_old',
 '.ipynb_checkpoints',
 'sample_data']

In [ ]:
# home win
hometeam_win_win = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] > data['HTAG'])] #2342
hometeam_draw_win = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] == data['HTAG'])] # 1264
hometeam_lose_win = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] < data['HTAG'])] #197

In [ ]:
# away win
awayteam_win_win = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] < data['HTAG'])] #1383
awayteam_draw_win = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] == data['HTAG'])] #884
awayteam_lose_win = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] > data['HTAG'])] #150

In [ ]:
# draw
hometeam_win_draw = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] > data['HTAG'])] #410
hometeam_lose_draw = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] < data['HTAG'])] #387
awayteam_win_draw = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] < data['HTAG'])] # 387
awayteam_lose_draw = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] > data['HTAG'])] #410
all_draw = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] == data['HTAG'])] # 1272

In [ ]:
# home lose
hometeam_win_lose = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] > data['HTAG'])] # 150
hometeam_draw_lose = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] == data['HTAG'])] #884
hometeam_lose_lose = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] < data['HTAG'])] #1383

# away lose
awayteam_win_lose = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] < data['HTAG'])] #197
awayteam_draw_lose = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] == data['HTAG'])] #1264
awayteam_lose_lose = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] > data['HTAG'])] #2342

In [ ]:
dataframes = {
    0:hometeam_win_win,1:awayteam_lose_lose,2:hometeam_draw_win,3:awayteam_draw_lose,4:hometeam_lose_win,
    5:awayteam_win_lose,6:awayteam_win_win,7:hometeam_lose_lose,8:awayteam_draw_win,9:hometeam_draw_lose,
    10:awayteam_lose_win,11:hometeam_win_lose,12:hometeam_win_draw,13:awayteam_lose_draw,14:hometeam_lose_draw,
    15:awayteam_win_draw,16:all_draw
}

In [ ]:
print(dataframes[0].reset_index())
print(dataframes[1].reset_index())

      index   Season              DateTime        HomeTeam        AwayTeam  \
0         0  2000-01  2000-08-19T00:00:00Z        Charlton        Man City
1         1  2000-01  2000-08-19T00:00:00Z         Chelsea        West Ham
2         4  2000-01  2000-08-19T00:00:00Z           Leeds         Everton
3         8  2000-01  2000-08-19T00:00:00Z       Tottenham         Ipswich
4         9  2000-01  2000-08-20T00:00:00Z      Man United       Newcastle
...     ...      ...                   ...             ...             ...
2337   8275  2021-22  2022-04-03T14:00:00Z        West Ham         Everton
2338   8277  2021-22  2022-04-04T20:00:00Z  Crystal Palace         Arsenal
2339   8280  2021-22  2022-04-09T12:30:00Z         Everton      Man United
2340   8286  2021-22  2022-04-10T14:00:00Z       Leicester  Crystal Palace
2341   8287  2021-22  2022-04-10T14:00:00Z         Norwich         Burnley

      FTHG  FTAG FTR  HTHG  HTAG  ...   HC   AC    HF    AF   HY   AY   HR  \
0        4     0   H     2     0  ...  6.0  6.0  13.0  12.0  1.0  2.0  0.0
1        4     2   H     1     0  ...  7.0  7.0  19.0  14.0  1.0  2.0  0.0
2        2     0   H     2     0  ...  6.0  4.0  21.0  20.0  1.0  3.0  0.0
3        3     1   H     2     1  ...  3.0  4.0  14.0  13.0  0.0  0.0  0.0
4        2     0   H     1     0  ...  7.0  1.0   7.0  13.0  0.0  1.0  0.0
...    ...   ...  ..   ...   ...  ...  ...  ...   ...   ...  ...  ...  ...
2337     2     1   H     1     0  ...  2.0  4.0   9.0  12.0  1.0  1.0  0.0
2338     3     0   H     2     0  ...  0.0  2.0  11.0  15.0  0.0  2.0  0.0
2339     1     0   H     1     0  ...  5.0  7.0   4.0  10.0  2.0  2.0  0.0
2340     2     1   H     2     0  ...  3.0  4.0  11.0  12.0  1.0  1.0  0.0
2341     2     0   H     1     0  ...  6.0  7.0  12.0  10.0  1.0  1.0  0.0

       AR        Date    realdate
0     0.0  2000-08-19  2000-08-19
1     0.0  2000-08-19  2000-08-19
2     0.0  2000-08-19  2000-08-19
3     0.0  2000-08-19  2000-08-19
4     0.0  2000-08-20  2000-08-20
...   ...         ...         ...
2337  1.0  2022-04-03  2022-04-03
2338  0.0  2022-04-04  2022-04-04
2339  0.0  2022-04-09  2022-04-09
2340  0.0  2022-04-10  2022-04-10
2341  0.0  2022-04-10  2022-04-10

[2342 rows x 26 columns]
      index   Season              DateTime        HomeTeam        AwayTeam  \
0         0  2000-01  2000-08-19T00:00:00Z        Charlton        Man City
1         1  2000-01  2000-08-19T00:00:00Z         Chelsea        West Ham
2         4  2000-01  2000-08-19T00:00:00Z           Leeds         Everton
3         8  2000-01  2000-08-19T00:00:00Z       Tottenham         Ipswich
4         9  2000-01  2000-08-20T00:00:00Z      Man United       Newcastle
...     ...      ...                   ...             ...             ...
2337   8275  2021-22  2022-04-03T14:00:00Z        West Ham         Everton
2338   8277  2021-22  2022-04-04T20:00:00Z  Crystal Palace         Arsenal
2339   8280  2021-22  2022-04-09T12:30:00Z         Everton      Man United
2340   8286  2021-22  2022-04-10T14:00:00Z       Leicester  Crystal Palace
2341   8287  2021-22  2022-04-10T14:00:00Z         Norwich         Burnley

      FTHG  FTAG FTR  HTHG  HTAG  ...   HC   AC    HF    AF   HY   AY   HR  \
0        4     0   H     2     0  ...  6.0  6.0  13.0  12.0  1.0  2.0  0.0
1        4     2   H     1     0  ...  7.0  7.0  19.0  14.0  1.0  2.0  0.0
2        2     0   H     2     0  ...  6.0  4.0  21.0  20.0  1.0  3.0  0.0
3        3     1   H     2     1  ...  3.0  4.0  14.0  13.0  0.0  0.0  0.0
4        2     0   H     1     0  ...  7.0  1.0   7.0  13.0  0.0  1.0  0.0
...    ...   ...  ..   ...   ...  ...  ...  ...   ...   ...  ...  ...  ...
2337     2     1   H     1     0  ...  2.0  4.0   9.0  12.0  1.0  1.0  0.0
2338     3     0   H     2     0  ...  0.0  2.0  11.0  15.0  0.0  2.0  0.0
2339     1     0   H     1     0  ...  5.0  7.0   4.0  10.0  2.0  2.0  0.0
2340     2     1   H     2     0  ...  3.0  4.0  11.0  12.0  1.0  1.0  0.0
2341     2     0   H     1     0  ...  6.0  7.0  12.0  10.0  1.0  1.0  0.0

       AR        Date    realdate
0     0.0  2000-08-19  2000-08-19
1     0.0  2000-08-19  2000-08-19
2     0.0  2000-08-19  2000-08-19
3     0.0  2000-08-19  2000-08-19
4     0.0  2000-08-20  2000-08-20
...   ...         ...         ...
2337  1.0  2022-04-03  2022-04-03
2338  0.0  2022-04-04  2022-04-04
2339  0.0  2022-04-09  2022-04-09
2340  0.0  2022-04-10  2022-04-10
2341  0.0  2022-04-10  2022-04-10

[2342 rows x 26 columns]

In [ ]:
path_dir = 'templates'
file_list = os.listdir(path_dir)
file_list1 = natsort.natsorted(file_list)

In [ ]:
file_list1

['templates_1_home_win_win_filtered.txt',
 'templates_2_away_lose_lose_filtered.txt',
 'templates_3_home_draw_win_filtered.txt',
 'templates_4_away_draw_lose_filtered.txt',
 'templates_5_home_lose_win_filtered.txt',
 'templates_6_away_win_lose_filtered.txt',
 'templates_7_away_win_win_filtered.txt',
 'templates_8_home_lose_lose_filtered.txt',
 'templates_9_away_draw_win_filtered.txt',
 'templates_10_home_draw_lose_filtered.txt',
 'templates_11_away_lose_win_filtered.txt',
 'templates_12_home_win_lose_filtered.txt',
 'templates_13_home_win_draw_filtered.txt',
 'templates_14_away_lose_draw_filtered.txt',
 'templates_15_home_lose_draw_filtered.txt',
 'templates_16_away_win_draw_filtered.txt',
 'templates_17_neutral_draw_draw_filtered.txt']

In [ ]:
for i in range(len(file_list1)):
    df = dataframes[i]
    
    print(len(df))

2342
2342
1264
1264
197
197
1383
1383
884
884
150
150
410
410
387
387
1272

In [ ]:
file_list1[0].split('_')[2]

'home'

In [ ]:
pd.set_option('mode.chained_assignment',  None)

In [ ]:
new_df = pd.DataFrame()
files_cnt = len(file_list1)

for i in range(files_cnt):
    filename = 'templates/' + file_list1[i]
    f = open(filename)
    num_types = len(f.readlines())
    df = dataframes[i].reset_index()
    
    df["FTHG"] = df["FTHG"].astype(str)
    df["FTAG"] = df["FTAG"].astype(str)
    df["HTHG"] = df["HTHG"].astype(str)
    df["HTAG"] = df["HTAG"].astype(str)
    df["realdate"] = df["realdate"].astype(str)
    
    if filename.split('_')[2] == 'home':
        df["bias"] = 'home'
    elif filename.split('_')[2] == 'away':
        df["bias"] = 'away'
    else:
        df["bias"] = 'neutral'

    if i != files_cnt - 1:
        if i % 2 == 0:
            df_len = int(len(df) / 2) + 1 if len(df) % 2 != 0 else int(len(df) / 2)
        else:
            df_len = int(len(df) / 2)
    else:
        df_len = len(df)
    print(df_len)
    for j in range(df_len):
        format=""
        line = random.randint(1,num_types)
        format = linecache.getline(filename,line)
        try:
            format1 = format.replace("[HomeTeam]",df.loc[j,"HomeTeam"])
            format2 = format1.replace("[AwayTeam]",df.loc[j,"AwayTeam"])
            format3 = format2.replace("[FTHG]",df.loc[j,"FTHG"])
            format4 = format3.replace("[FTAG]",df.loc[j,"FTAG"])
            format5 = format4.replace("[HTHG]",df.loc[j,"HTHG"])
            format6 = format5.replace("[HTAG]",df.loc[j,"HTAG"])
            format7 = format6.replace("[DateTime]",str(df.loc[j,"realdate"]))
        except Exception as e:
            print(i, line)
            pass
       
        df.loc[j,"article"] = format7
    new_df = pd.concat([new_df, df])

1171
1171
632
632
99
98
692
691
442
442
75
75
205
205
194
193
1272

In [ ]:
new_df1 = new_df.dropna(subset=['Season','article'],axis=0)

In [ ]:
new_df1

,index,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,HF,AF,HY,AY,HR,AR,Date,realdate,bias,article
0,0,2000-01,2000-08-19T00:00:00Z,Charlton,Man City,4,0,H,2,0,...,13.0,12.0,1.0,2.0,0.0,0.0,2000-08-19,2000-08-19,home,Charlton scored 4 goals in their home. They wo...
1,1,2000-01,2000-08-19T00:00:00Z,Chelsea,West Ham,4,2,H,1,0,...,19.0,14.0,1.0,2.0,0.0,0.0,2000-08-19,2000-08-19,home,"In 2000-08-19, Chelsea won their home game aga..."
2,4,2000-01,2000-08-19T00:00:00Z,Leeds,Everton,2,0,H,2,0,...,21.0,20.0,1.0,3.0,0.0,0.0,2000-08-19,2000-08-19,home,Leeds scored 2 goals and won their home game a...
3,8,2000-01,2000-08-19T00:00:00Z,Tottenham,Ipswich,3,1,H,2,1,...,14.0,13.0,0.0,0.0,0.0,0.0,2000-08-19,2000-08-19,home,Tottenham scored 3 goals in their home. They w...
4,9,2000-01,2000-08-20T00:00:00Z,Man United,Newcastle,2,0,H,1,0,...,7.0,13.0,0.0,1.0,0.0,0.0,2000-08-20,2000-08-20,home,"In 2000-08-20, Man United beat Newcastle in th..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1267,8214,2021-22,2022-02-19T12:30:00Z,West Ham,Newcastle,1,1,D,1,1,...,3.0,7.0,3.0,3.0,0.0,0.0,2022-02-19,2022-02-19,neutral,It is not clear to fans at home and outside if...
1268,8232,2021-22,2022-02-26T15:00:00Z,Man United,Watford,0,0,D,0,0,...,2.0,7.0,0.0,0.0,0.0,0.0,2022-02-26,2022-02-26,neutral,It was an intense game between Man United and ...
1269,8260,2021-22,2022-03-14T20:00:00Z,Crystal Palace,Man City,0,0,D,0,0,...,6.0,11.0,3.0,1.0,0.0,0.0,2022-03-14,2022-03-14,neutral,Crystal Palace had a game against Man City in ...
1270,8269,2021-22,2022-04-02T15:00:00Z,Brighton,Norwich,0,0,D,0,0,...,12.0,11.0,1.0,1.0,0.0,0.0,2022-04-02,2022-04-02,neutral,It is not clear to the fans of their home and ...
1271,8274,2021-22,2022-04-02T17:30:00Z,Man United,Leicester,1,1,D,0,0,...,13.0,6.0,2.0,2.0,0.0,0.0,2022-04-02,2022-04-02,neutral,Man United had a game against Leicester in 202...

In [ ]:
new_df1['bias'].value_counts()

home       3509
away       3508
neutral    1272
Name: bias, dtype: int64

In [ ]:
new_df2 = new_df1[['Season','HomeTeam','AwayTeam','FTHG','FTAG','HTHG','HTAG','FTR','HTR','bias','Date','article']]

In [ ]:
# column 정제한 파일 
new_df2 = new_df2.sample(frac=1).reset_index(drop=True)
new_df2['bias'].value_counts()

home       3509
away       3508
neutral    1272
Name: bias, dtype: int64

In [ ]:
new_df2.to_csv("new_df2_v2.csv")