In [1]:
import pandas as pd
import os
import random
import math

In [2]:
import natsort

In [3]:
import linecache

In [4]:
data = pd.read_csv("/home/hahyun/Downloads/NLP_tp/raw_cleaned.csv")

In [5]:
data

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HC,AC,HF,AF,HY,AY,HR,AR,Date
0,2000-01,2000-08-19T00:00:00Z,Charlton,Man City,4,0,H,2.0,0.0,H,...,4.0,6.0,6.0,13.0,12.0,1.0,2.0,0.0,0.0,2000-08-19
1,2000-01,2000-08-19T00:00:00Z,Chelsea,West Ham,4,2,H,1.0,0.0,H,...,5.0,7.0,7.0,19.0,14.0,1.0,2.0,0.0,0.0,2000-08-19
2,2000-01,2000-08-19T00:00:00Z,Coventry,Middlesbrough,1,3,A,1.0,1.0,D,...,9.0,8.0,4.0,15.0,21.0,5.0,3.0,1.0,0.0,2000-08-19
3,2000-01,2000-08-19T00:00:00Z,Derby,Southampton,2,2,D,1.0,2.0,A,...,6.0,5.0,8.0,11.0,13.0,1.0,1.0,0.0,0.0,2000-08-19
4,2000-01,2000-08-19T00:00:00Z,Leeds,Everton,2,0,H,2.0,0.0,H,...,6.0,6.0,4.0,21.0,20.0,1.0,3.0,0.0,0.0,2000-08-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8284,2021-22,2022-04-09T17:30:00Z,Aston Villa,Tottenham,0,4,A,0.0,1.0,A,...,5.0,9.0,3.0,12.0,14.0,2.0,3.0,0.0,0.0,2022-04-09
8285,2021-22,2022-04-10T14:00:00Z,Brentford,West Ham,2,0,H,0.0,0.0,D,...,1.0,4.0,6.0,2.0,6.0,0.0,1.0,0.0,0.0,2022-04-10
8286,2021-22,2022-04-10T14:00:00Z,Leicester,Crystal Palace,2,1,H,2.0,0.0,H,...,3.0,3.0,4.0,11.0,12.0,1.0,1.0,0.0,0.0,2022-04-10
8287,2021-22,2022-04-10T14:00:00Z,Norwich,Burnley,2,0,H,1.0,0.0,H,...,4.0,6.0,7.0,12.0,10.0,1.0,1.0,0.0,0.0,2022-04-10
8288,2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,D,2.0,1.0,H,...,4.0,4.0,1.0,9.0,11.0,1.0,4.0,0.0,0.0,2022-04-10

In [40]:
data["HTHG"] = data["HTHG"].astype(int)
data["HTAG"] = data["HTAG"].astype(int)
data["FTHG"] = data["FTHG"].astype(int)
data["FTAG"] = data["FTAG"].astype(int)

In [41]:
for i in range(len(data)):
    data.loc[i,"realdate"] = str(data.loc[i,"DateTime"]).split("T")[0]

In [42]:
os.listdir()

['article_add.ipynb',
 'templates',
 'eda.ipynb',
 '.git',
 'article_added.csv',
 'raw_cleaned.csv']

In [43]:
hometeam_win_win = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] > data['HTAG'])] #2342
hometeam_draw_win = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] == data['HTAG'])] # 1264
hometeam_lose_win = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] < data['HTAG'])] #197

In [44]:
# 어웨이팀 이김
awayteam_win_win = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] < data['HTAG'])] #1383
awayteam_draw_win = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] == data['HTAG'])] #884
awayteam_lose_win = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] > data['HTAG'])] #150

In [45]:
# 무승부
# 홈팀 이김
hometeam_win_draw = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] > data['HTAG'])] #410
hometeam_lose_draw = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] < data['HTAG'])] #387
awayteam_win_draw = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] < data['HTAG'])] # 387
awayteam_lose_draw = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] > data['HTAG'])] #410
#all_draw = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] == data['HTAG'])] # 1272  //아직 부재

In [46]:
#홈팀 패배
hometeam_win_lose = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] > data['HTAG'])] # 150
hometeam_draw_lose = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] == data['HTAG'])] #884
hometeam_lose_lose = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] < data['HTAG'])] #1383

#원정팀 패배
awayteam_win_lose = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] < data['HTAG'])] #197
awayteam_draw_lose = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] == data['HTAG'])] #1264
awayteam_lose_lose = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] > data['HTAG'])] #2342

In [47]:
dataframes = [hometeam_win_win,hometeam_draw_win,hometeam_lose_win,awayteam_win_win,awayteam_draw_win,awayteam_lose_win,hometeam_win_draw,hometeam_lose_draw,awayteam_win_draw,awayteam_lose_draw,hometeam_win_lose,hometeam_draw_lose,hometeam_lose_lose,awayteam_win_lose,awayteam_draw_lose,awayteam_lose_lose]

In [48]:
path_dir = '/home/hahyun/Downloads/NLP_tp/templates'
file_list = os.listdir(path_dir)
file_list1 = natsort.natsorted(file_list)

In [61]:
file_list1

['templates_1_home_win_win_filtered.txt',
 'templates_2_home_draw_win_filtered.txt',
 'templates_3_home_lose_win_filtered.txt',
 'templates_4_away_win_win_filtered.txt',
 'templates_5_away_draw_win_filtered.txt',
 'templates_6_away_lose_win_filtered.txt',
 'templates_7_home_win_draw_filtered.txt',
 'templates_8_home_lose_draw_filtered.txt',
 'templates_9_away_win_draw_filtered.txt',
 'templates_10_away_lose_draw_filtered.txt',
 'templates_12_home_lose_lose_filtered.txt',
 'templates_13_home_draw_lose_filtered.txt',
 'templates_14_home_win_lose_filtered.txt',
 'templates_15_away_lose_lose_filtered.txt',
 'templates_16_away_draw_lose_filtered.txt',
 'templates_17_away_win_lose_filtered.txt']

In [62]:
pd.set_option('mode.chained_assignment',  None)

In [63]:
new_df = pd.DataFrame()

for i in range(16):
    filename = '/home/hahyun/Downloads/NLP_tp/templates/' + file_list1[i]
    f = open(filename)
    num_types = len(f.readlines())
    df = dataframes[i]
    
    df["FTHG"] = df["FTHG"].astype(str)
    df["FTAG"] = df["FTAG"].astype(str)
    df["HTHG"] = df["HTHG"].astype(str)
    df["HTAG"] = df["HTAG"].astype(str)
    df["realdate"] = df["realdate"].astype(str)
    
    for j in range(len(df)):
        
        format=""
        line = random.randint(1,num_types)
        format = linecache.getline(filename,line)
 
        try:
            format1 = format.replace("[HomeTeam]",df.loc[j,"HomeTeam"])
            format2 = format1.replace("[AwayTeam]",df.loc[j,"AwayTeam"])
            format3 = format2.replace("[FTHG]",df.loc[j,"FTHG"])
            format4 = format3.replace("[FTAG]",df.loc[j,"FTAG"])
            format5 = format4.replace("[HTHG]",df.loc[j,"HTHG"])
            format6 = format5.replace("[HTAG]",df.loc[j,"HTAG"])
            format7 = format6.replace("[DateTime]",str(df.loc[j,"realdate"]))
        except Exception:
            pass
                
        df.loc[j,"article"] = format7
    new_df = pd.concat([new_df,df])

In [64]:
new_df1 = new_df.dropna(subset=['Season','article'],axis=0)

In [65]:
new_df1

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AC,HF,AF,HY,AY,HR,AR,Date,realdate,article
0,2000-01,2000-08-19T00:00:00Z,Charlton,Man City,4,0,H,2,0,H,...,6.0,13.0,12.0,1.0,2.0,0.0,0.0,2000-08-19,2000-08-19,Charlton scored 4 goals at their home. They wo...
1,2000-01,2000-08-19T00:00:00Z,Chelsea,West Ham,4,2,H,1,0,H,...,7.0,19.0,14.0,1.0,2.0,0.0,0.0,2000-08-19,2000-08-19,The game between Chelsea and West Ham at Chels...
4,2000-01,2000-08-19T00:00:00Z,Leeds,Everton,2,0,H,2,0,H,...,4.0,21.0,20.0,1.0,3.0,0.0,0.0,2000-08-19,2000-08-19,Leeds scored 2 goals at home. They won the mat...
8,2000-01,2000-08-19T00:00:00Z,Tottenham,Ipswich,3,1,H,2,1,H,...,4.0,14.0,13.0,0.0,0.0,0.0,0.0,2000-08-19,2000-08-19,The match between Tottenham and Ipswich at Tot...
9,2000-01,2000-08-20T00:00:00Z,Man United,Newcastle,2,0,H,1,0,H,...,1.0,7.0,13.0,0.0,1.0,0.0,0.0,2000-08-20,2000-08-20,Man United scored a big home win in 2000-08-20...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6007,2015-16,2016-04-02T00:00:00Z,Norwich,Newcastle,3,2,H,1,0,H,...,5.0,6.0,11.0,0.0,0.0,0.0,0.0,2016-04-02,2016-04-02,Newcastle scored 2 goals during their visit to...
6011,2015-16,2016-04-03T00:00:00Z,Leicester,Southampton,1,0,H,1,0,H,...,8.0,12.0,13.0,2.0,2.0,0.0,0.0,2016-04-03,2016-04-03,The game between Southampton and Leicester at ...
6016,2015-16,2016-04-09T00:00:00Z,Southampton,Newcastle,3,1,H,2,0,H,...,2.0,8.0,7.0,0.0,0.0,0.0,0.0,2016-04-09,2016-04-09,Newcastle was facing a tragedy in their game o...
6017,2015-16,2016-04-09T00:00:00Z,Swansea,Chelsea,1,0,H,1,0,H,...,9.0,15.0,13.0,5.0,4.0,0.0,0.0,2016-04-09,2016-04-09,Chelsea faced a tragic defeat in their departu...
6020,2015-16,2016-04-10T00:00:00Z,Liverpool,Stoke,4,1,H,2,1,H,...,3.0,14.0,14.0,0.0,2.0,0.0,0.0,2016-04-10,2016-04-10,"On 2016-04-10, Stoke played against Liverpool ..."

In [98]:
new_df1.to_csv("article_added.csv")