In [1]:
import pandas as pd
import os
import random
import math

In [3]:
import natsort

In [4]:
import linecache

In [5]:
data = pd.read_csv("raw_cleaned.csv")

In [6]:
data

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HC,AC,HF,AF,HY,AY,HR,AR,Date
0,2000-01,2000-08-19T00:00:00Z,Charlton,Man City,4,0,H,2.0,0.0,H,...,4.0,6.0,6.0,13.0,12.0,1.0,2.0,0.0,0.0,2000-08-19
1,2000-01,2000-08-19T00:00:00Z,Chelsea,West Ham,4,2,H,1.0,0.0,H,...,5.0,7.0,7.0,19.0,14.0,1.0,2.0,0.0,0.0,2000-08-19
2,2000-01,2000-08-19T00:00:00Z,Coventry,Middlesbrough,1,3,A,1.0,1.0,D,...,9.0,8.0,4.0,15.0,21.0,5.0,3.0,1.0,0.0,2000-08-19
3,2000-01,2000-08-19T00:00:00Z,Derby,Southampton,2,2,D,1.0,2.0,A,...,6.0,5.0,8.0,11.0,13.0,1.0,1.0,0.0,0.0,2000-08-19
4,2000-01,2000-08-19T00:00:00Z,Leeds,Everton,2,0,H,2.0,0.0,H,...,6.0,6.0,4.0,21.0,20.0,1.0,3.0,0.0,0.0,2000-08-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8284,2021-22,2022-04-09T17:30:00Z,Aston Villa,Tottenham,0,4,A,0.0,1.0,A,...,5.0,9.0,3.0,12.0,14.0,2.0,3.0,0.0,0.0,2022-04-09
8285,2021-22,2022-04-10T14:00:00Z,Brentford,West Ham,2,0,H,0.0,0.0,D,...,1.0,4.0,6.0,2.0,6.0,0.0,1.0,0.0,0.0,2022-04-10
8286,2021-22,2022-04-10T14:00:00Z,Leicester,Crystal Palace,2,1,H,2.0,0.0,H,...,3.0,3.0,4.0,11.0,12.0,1.0,1.0,0.0,0.0,2022-04-10
8287,2021-22,2022-04-10T14:00:00Z,Norwich,Burnley,2,0,H,1.0,0.0,H,...,4.0,6.0,7.0,12.0,10.0,1.0,1.0,0.0,0.0,2022-04-10
8288,2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,D,2.0,1.0,H,...,4.0,4.0,1.0,9.0,11.0,1.0,4.0,0.0,0.0,2022-04-10

In [7]:
data["HTHG"] = data["HTHG"].astype(int)
data["HTAG"] = data["HTAG"].astype(int)
data["FTHG"] = data["FTHG"].astype(int)
data["FTAG"] = data["FTAG"].astype(int)

In [8]:
for i in range(len(data)):
    data.loc[i,"realdate"] = str(data.loc[i,"DateTime"]).split("T")[0]

In [9]:
os.listdir()

['eda.ipynb',
 'raw_cleaned.csv',
 'reference articles.xlsx',
 'article_add.ipynb',
 '.git']

In [10]:
hometeam_win_win = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] > data['HTAG'])] #2342
hometeam_draw_win = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] == data['HTAG'])] # 1264
hometeam_lose_win = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] < data['HTAG'])] #197

In [11]:
# 어웨이팀 이김
awayteam_win_win = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] < data['HTAG'])] #1383
awayteam_draw_win = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] == data['HTAG'])] #884
awayteam_lose_win = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] > data['HTAG'])] #150

In [12]:
# 무승부
# 홈팀 이김
hometeam_win_draw = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] > data['HTAG'])] #410
hometeam_lose_draw = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] < data['HTAG'])] #387
awayteam_win_draw = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] < data['HTAG'])] # 387
awayteam_lose_draw = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] > data['HTAG'])] #410
all_draw = data[(data['FTHG'] == data['FTAG']) & (data['HTHG'] == data['HTAG'])] # 1272  //아직 부재

In [13]:
#홈팀 패배
hometeam_win_lose = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] > data['HTAG'])] # 150
hometeam_draw_lose = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] == data['HTAG'])] #884
hometeam_lose_lose = data[(data['FTHG'] < data['FTAG']) & (data['HTHG'] < data['HTAG'])] #1383

#원정팀 패배
awayteam_win_lose = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] < data['HTAG'])] #197
awayteam_draw_lose = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] == data['HTAG'])] #1264
awayteam_lose_lose = data[(data['FTHG'] > data['FTAG']) & (data['HTHG'] > data['HTAG'])] #2342

In [14]:
dataframes = [hometeam_win_win,hometeam_draw_win,hometeam_lose_win,awayteam_win_win,awayteam_draw_win,awayteam_lose_win,hometeam_win_draw,hometeam_lose_draw,awayteam_win_draw,awayteam_lose_draw,all_draw,hometeam_win_lose,hometeam_draw_lose,hometeam_lose_lose,awayteam_win_lose,awayteam_draw_lose,awayteam_lose_lose]

In [16]:
path_dir = 'templates'
file_list = os.listdir(path_dir)
file_list1 = natsort.natsorted(file_list)

In [17]:
file_list1

['templates_1_home_win_win_filtered.txt',
 'templates_2_home_draw_win_filtered.txt',
 'templates_3_home_lose_win_filtered.txt',
 'templates_4_away_win_win_filtered.txt',
 'templates_5_away_draw_win_filtered.txt',
 'templates_6_away_lose_win_filtered.txt',
 'templates_7_home_win_draw_filtered.txt',
 'templates_8_home_lose_draw_filtered.txt',
 'templates_9_away_win_draw_filtered.txt',
 'templates_10_away_lose_draw_filtered.txt',
 'templates_11_neutral_draw_draw_filtered.txt',
 'templates_12_home_lose_lose_filtered.txt',
 'templates_13_home_draw_lose_filtered.txt',
 'templates_14_home_win_lose_filtered.txt',
 'templates_15_away_lose_lose_filtered.txt',
 'templates_16_away_draw_lose_filtered.txt',
 'templates_17_away_win_lose_filtered.txt']

In [21]:
file_list1[0].split('_')[2]

'home'

In [18]:
pd.set_option('mode.chained_assignment',  None)

In [51]:
new_df = pd.DataFrame()

for i in range(16):
    filename = 'templates/' + file_list1[i]
    f = open(filename)
    num_types = len(f.readlines())
    df = dataframes[i]
    
    df["FTHG"] = df["FTHG"].astype(str)
    df["FTAG"] = df["FTAG"].astype(str)
    df["HTHG"] = df["HTHG"].astype(str)
    df["HTAG"] = df["HTAG"].astype(str)
    df["realdate"] = df["realdate"].astype(str)
    
    if filename.split('_')[2] == 'home':
        df["bias"] = 'home'
    elif filename.split('_')[2] == 'away':
        df["bias"] = 'away'
    else:
        df["bias"] = 'neutral'

    for j in range(len(df)):
        
        format=""
        line = random.randint(1,num_types)
        format = linecache.getline(filename,line)
 
        try:
            format1 = format.replace("[HomeTeam]",df.loc[j,"HomeTeam"])
            format2 = format1.replace("[AwayTeam]",df.loc[j,"AwayTeam"])
            format3 = format2.replace("[FTHG]",df.loc[j,"FTHG"])
            format4 = format3.replace("[FTAG]",df.loc[j,"FTAG"])
            format5 = format4.replace("[HTHG]",df.loc[j,"HTHG"])
            format6 = format5.replace("[HTAG]",df.loc[j,"HTAG"])
            format7 = format6.replace("[DateTime]",str(df.loc[j,"realdate"]))
        except Exception:
            pass
                
        df.loc[j,"article"] = format7
    new_df = pd.concat([new_df,df])

In [52]:
new_df1 = new_df.dropna(subset=['Season','article'],axis=0)

In [53]:
new_df1

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HF,AF,HY,AY,HR,AR,Date,realdate,bias,article
0,2000-01,2000-08-19T00:00:00Z,Charlton,Man City,4,0,H,2,0,H,...,13.0,12.0,1.0,2.0,0.0,0.0,2000-08-19,2000-08-19,home,"Charlton beat Man City 4-0, giving a precious ..."
1,2000-01,2000-08-19T00:00:00Z,Chelsea,West Ham,4,2,H,1,0,H,...,19.0,14.0,1.0,2.0,0.0,0.0,2000-08-19,2000-08-19,home,Chelsea scored 4 goals in their house. They wo...
4,2000-01,2000-08-19T00:00:00Z,Leeds,Everton,2,0,H,2,0,H,...,21.0,20.0,1.0,3.0,0.0,0.0,2000-08-19,2000-08-19,home,The game between Leeds and Everton at Leeds’s ...
8,2000-01,2000-08-19T00:00:00Z,Tottenham,Ipswich,3,1,H,2,1,H,...,14.0,13.0,0.0,0.0,0.0,0.0,2000-08-19,2000-08-19,home,The game between Tottenham and Ipswich at Tott...
9,2000-01,2000-08-20T00:00:00Z,Man United,Newcastle,2,0,H,1,0,H,...,7.0,13.0,0.0,1.0,0.0,0.0,2000-08-20,2000-08-20,home,Man United scored 2 goals in their house. They...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5996,2015-16,2016-03-19T00:00:00Z,Swansea,Aston Villa,1,0,H,0,0,D,...,9.0,10.0,3.0,2.0,0.0,0.0,2016-03-19,2016-03-19,away,Aston Villa fans had a depressing evening on 2...
6012,2015-16,2016-04-03T00:00:00Z,Man United,Everton,1,0,H,0,0,D,...,15.0,6.0,2.0,0.0,0.0,0.0,2016-04-03,2016-04-03,away,Everton lost the game against Man United in 20...
6014,2015-16,2016-04-09T00:00:00Z,Crystal Palace,Norwich,1,0,H,0,0,D,...,13.0,10.0,2.0,1.0,0.0,0.0,2016-04-09,2016-04-09,away,"The 2016-04-09, Norwich played against Crystal..."
6015,2015-16,2016-04-09T00:00:00Z,Man City,West Brom,2,1,H,1,1,D,...,10.0,7.0,0.0,1.0,0.0,0.0,2016-04-09,2016-04-09,away,West Brom fans had a depressing night at 2016-...
6022,2015-16,2016-04-10T00:00:00Z,Tottenham,Man United,3,0,H,0,0,D,...,10.0,10.0,3.0,3.0,0.0,0.0,2016-04-10,2016-04-10,away,Man United fans had to face their team beaten ...

In [56]:
new_df1['bias'].value_counts()

home       4981
away       2803
neutral     954
Name: bias, dtype: int64

In [49]:
new_df1['Season'].value_counts()

2002-03    595
2000-01    593
2001-02    593
2004-05    577
2005-06    556
2003-04    548
2011-12    502
2006-07    500
2008-09    496
2007-08    479
2009-10    465
2010-11    462
2013-14    408
2012-13    406
2014-15    385
2015-16    223
2016-17    155
2018-19    106
2017-18    103
2019-20     43
Name: Season, dtype: int64

In [55]:
data['Season'].value_counts()

2009-10    380
2015-16    380
2010-11    380
2013-14    380
2001-02    380
2011-12    380
2020-21    380
2003-04    380
2012-13    380
2006-07    380
2008-09    380
2000-01    380
2005-06    380
2016-17    380
2018-19    380
2002-03    380
2014-15    380
2019-20    380
2017-18    380
2007-08    380
2004-05    380
2021-22    309
Name: Season, dtype: int64

In [48]:
new_df1.to_csv("article_added.csv")

In [57]:
new_df1.columns

Index(['Season', 'DateTime', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HC', 'AC',
       'HF', 'AF', 'HY', 'AY', 'HR', 'AR', 'Date', 'realdate', 'bias',
       'article'],
      dtype='object')

In [58]:
new_df2 = new_df1[['Season','HomeTeam','AwayTeam','FTHG','FTAG','HTHG','HTAG','bias','Date','article']]

In [59]:
# column 정제한 파일 
new_df2

,Season,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,bias,Date,article
0,2000-01,Charlton,Man City,4,0,2,0,home,2000-08-19,"Charlton beat Man City 4-0, giving a precious ..."
1,2000-01,Chelsea,West Ham,4,2,1,0,home,2000-08-19,Chelsea scored 4 goals in their house. They wo...
4,2000-01,Leeds,Everton,2,0,2,0,home,2000-08-19,The game between Leeds and Everton at Leeds’s ...
8,2000-01,Tottenham,Ipswich,3,1,2,1,home,2000-08-19,The game between Tottenham and Ipswich at Tott...
9,2000-01,Man United,Newcastle,2,0,1,0,home,2000-08-20,Man United scored 2 goals in their house. They...
...,...,...,...,...,...,...,...,...,...,...
5996,2015-16,Swansea,Aston Villa,1,0,0,0,away,2016-03-19,Aston Villa fans had a depressing evening on 2...
6012,2015-16,Man United,Everton,1,0,0,0,away,2016-04-03,Everton lost the game against Man United in 20...
6014,2015-16,Crystal Palace,Norwich,1,0,0,0,away,2016-04-09,"The 2016-04-09, Norwich played against Crystal..."
6015,2015-16,Man City,West Brom,2,1,1,1,away,2016-04-09,West Brom fans had a depressing night at 2016-...
6022,2015-16,Tottenham,Man United,3,0,0,0,away,2016-04-10,Man United fans had to face their team beaten ...

In [60]:
new_df2.to_csv("new_df2.csv")